/* Mise à jour
Si jamais le CSS n'apparait pas, posible qu'il est necessaire de recharger la page en supprimante les caches. 
Pour cela recharger en fesant : command - Maj - r
============================================================*/
body {
    background: $image;
    background-color: $primary-color;
}

h1 {
    color: $secondary_color;
}

p {
    border: 3px solid $primary-color;
    color: $tertiary_color;
}


.formulaire_log {
    background-color: $white_color;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    border-radius: $border;
    box-shadow: $ombre;
       
}

.connect {
    border-bottom: solid black;
    padding: 3em;  
}

.formulaire {
    padding: 5em;
}