$primary-color: rgb(23,67,118);

$secondary_color: #9E2042;

$tertiary_color:  #D02D3E;

$grey_color: #707071;

$white_color:rgb(255, 255, 255);
$black_color:rgb(0, 0, 0);

$image: url("../../img/fond.png") no-repeat right top;

$border: 25px;

$ombre: 12px 12px 20px 1px black;